<div class="main">
<h1 class="h1">New Post</h1><hr class="hr">
<%= form_with(model: photographer, local: true) do |form| %>
  <% if photographer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(photographer.errors.count, "error") %> prohibited this photographer from being saved:</h2>

      <ul>
         <% photographer.errors.full_messages.each do |message| %>
          <li><%= message %></li>
           <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= form.label :upload_date %><br>
    <%= form.date_select :upload_date,  id: :video_title %>
  </div>

  <div class="form-group">
    <%= form.label :image %><br>
    <%= form.file_field :image,  id: :video_title%>
  </div>

  <div class="form-group">
    <%= form.label :description %>
    <%= form.text_area :description,   id: :video_title,class:'form-control'%>
  </div>

  <div class="form-group">
    <%= form.label :Video %><br>
    <%= form.file_field :video, id: :video_title %>
  </div>


  <%= form_with(model: photographer, local: true, html: { multipart: true }) do |form| %>
    <% if photographer.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(photographer.errors.count, "error") %> prohibited this video from being saved:</h2>
  
        <ul>
        <% photographer.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <div class="form-group">
    
  <%= form.hidden_field :gallery_id, value: current_user.gallery.id %>
  </div>

  <div class="actions">
    <%= form.submit class:'btn btn-outline-success' %>
  </div>
<% end %>
<% end %>
</div>